@import url(./components/modal.css);
@import url(./components/table.css);
@import url(./config/colors.css);
@import url(./config/font.css);
@import url(./config/globals.css);
@import url(./tools/grid.css);

.main {
  width: 100%;
  height: 100%;
  background-color: var(--color-commun-White);
  display: flex;
}

.main .nav {
  width: 200px;
  background-color: var(--color-white-gray);
  margin-right: 0.5rem;
  padding: 2rem 0;
}
@media only screen and (max-width: 780px) {
  .main .nav {
    width: 150px;
  }
}

.main .view {
  position: relative;
  width: 100%;
  min-height: 22vh;
}

.main .view .viewHeader {
  padding: 1rem;
}

.main .nav .menu {
  width: 100%;
  margin: 15px;
  color: var(--color-commun-gray);
}

.main .nav .menu ul {
  padding-left: 0px;
  font-size: 1rem;
}

.main .nav .menu ul li {
  cursor: pointer;
  list-style: none;
  margin: 5px 0px;
  padding: 5px 0px;
  font-weight: 400;
  margin-right: 30px;
  padding-left: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  transition: 0.25s all;
  font-size: 1.2rem;
}

@media only screen and (max-width: 780px) {
  .main .nav .menu ul {
    font-size: 0.91rem;
  }

  .main .nav .menu ul li  {
    font-size: 0.91rem;
  }
}

.main .nav .menu ul li:hover {
  color: var(--color-primary);
}

.main .nav .menu ul li:hover ul {
  color: var(--color-commun-black);
  font-size: 1rem;
}

.main .nav .menu .title {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.view .content .list-tasks ul {
  border-bottom: 1px solid var(--color-commun-black);
  padding: 0;
}
.list-item {
  border-top: 1px solid var(--color-commun-black);
  padding: 0.5rem 0.2rem;
}

.list-item .info select {
  padding: 0.3rem;
}

.list-item .title {
  font-size: 1.2rem;
}

.list-item .start-date {
  font-size: 1rem;
}

header .logo-title {
  max-width: 1300px;
  margin: 0 auto;
}

header h1 {
  width: 40%;
  float: left;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.5rem;
  color: var(--color-commun-White);
}

.title h1,
.title h2,
.title h3 {
  color: var(--color-primary);
}

section {
  background: var(--color-commun-White);
  border-radius: 5px;
  max-width: 1280px;
  margin: 0 auto;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.306);
}

footer {
  color: var(--color-commun-White);
  text-align: center;
  font-style: italic;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}
footer p {
  color: var(--color-primary);
}

button.btn-add {
  padding: 0.5rem 2rem;
  background: var(--color-primary);
  color: var(--color-commun-White);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.btn-add:hover {
  background: var(--color-primary-hover);
}

.box {
  width: 50%;
}

.form-group {
  padding: 1rem;
}

.form-group label {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
}
.form-group input {
  margin-top: 0.5rem;
  padding: 0.4rem;
  width: 90%;
  border: 1px solid var(--color-primary);
  outline: 0;
}
.form-group select {
  margin-top: 0.5rem;
  padding: 0.4rem;
  width: 95%;
  border: 1px solid var(--color-primary);
}
