.modal {
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}
.content-modal {
  margin: 30vh auto;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
}

.head-modal {
  padding: 1px 18px;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #eee 1px;
}

button.confirm-modal {
  color: #fff;
  background: #28a745;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
}

button.close-modal {
  color: #fff;
  background: #dc3545;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

span.close-modal {
  color: #fff;
  background: #dc3545;
  padding: 0.2rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

h1.title-modal {
  font-weight: bold;
  margin: 10px 0;
}

.body-modal {
  padding: 1px 15px 8px;
}
.footer-modal {
  border-top: 1px solid #eee;
  padding: 18px;
  display: flex;
  justify-content: end;
}
