table {
  margin: 0 auto;
  padding: 1rem;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  border-right-width: 0;
  border-collapse: separate !important;
  border-spacing: 0;
  border-radius: 0.5rem;
}

table thead,
table tbody,
table tfoot {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tfoot tr td,
tbody tr td {
  border-top: 1px solid var(--color-commun-black);
}

table tbody td {
  text-transform: uppercase;
  font-size: 0.85rem;
  border-bottom-width: 0px;
  border-left-width: 0px;
  padding: 0.5rem;
}

table tbody tr:nth-child(even) {
  background: var(--color-black-White);
}

thead tr th,
tfoot tr td {
  padding: 1rem;
  font-size: 1.1rem;
}

tbody select {
  width: 100%;
  text-transform: uppercase;
  padding: 0.3rem;
  text-align: center;
}

button.btn-remove {
  background: var(--color-danger);
  border: none;
  padding: 0.3rem;
  cursor: pointer;
}

button.btn-remove svg {
  width: 15px;
  fill: var(--color-commun-White);
  height: 15px;
}

button.btn-edit {
  background: var(--color-primary);
  border: none;
  padding: 0.3rem;
  cursor: pointer;
}

button.btn-edit svg {
  width: 15px;
  fill: var(--color-commun-White);
  height: 15px;
}

button.btn-details {
  padding: 0.5rem 1rem;
  background: var(--color-primary);
  color: var(--color-commun-White);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table input[type="checkbox"] {
  appearance: none;
  border: 1px solid var(--color-commun-black);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 4px;
}
table input[type="checkbox"]:checked {
  background-image: url("../../img/checked.png");
  background-size: contain;
  background-position: center center;
  border: 1px solid var(--color-primary);
}
